<div class="row">
    {{#each notes}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                <h3 class="card-title">{{title}}</h3>
                <p>{{description}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</div>

